body {
  height: 100vh;
  background-color:#f4f4f4
}

.nav-bar-style {
  height:125px;
  width: 100vw;
  background-color:#d3d3d3;
  display: fixed
}

.tickets {
  min-width:20vw;
  padding:30px;
}

.nav-items {
  display: inline
}
.uk-table td {
  padding: 0px 10px;
}

.caption-style {
  border-top: solid #000 1px;
  padding: 10px 10px;
}

.remove-padding-from-ticket {
  margin-left: 200px;
  top:20px
}

.nav-tabs {
  width:100%;
  list-style: none;
}

.ul-nav-style {
  margin:0px;
  padding:0px;
  text-align: center;
}
.uk-card-body {
  padding: 0px 30px
}
.order-details {
  font-size: 30px;

}
/* TICKET STYLE */
.ticket-header {
  font-weight: 700 !important;
  color:#000 !important
}
